<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">product list</h1>
<ul>
  {% for product in products %}
    <li>
      <a href="{% url 'product-detail' product.pk %}" >{{ product.title }}</a> - {{ product.price }} 
      
    </li>
    <a href="{% url 'add-to-favorites' product.pk %}"><button style="margin-bottom: 5px; margin-top: 5px;" .h>add to favorite</button></a>
    
  
  <form method="post" action="{% url 'create_order' product.pk %}">
    {% csrf_token %}
    <button type="submit">add to order</button>
  </form>
  <hr>
{% endfor %}
</ul>
</body>
</html>



 <!-- <form method="get">
  <select name="category" onchange="this.form.submit()">
    <option value="">All categories</option>
    {% for category in categories %}
      <option value="{{ category.id }}" {% if selected_category == category.id %}selected{% endif %}>
        {{ category.title }}
      </option>
    {% endfor %}
  </select>
</form>

<hr>

{% for product in products %}
  <div>
    <h3>{{ product.title }}</h3>
    <p>{{ product.description|truncatewords:20 }}</p>
    <p>price: {{ product.price }} R</p>
    <p>category: {{ product.category.title }}</p>
  </div>
{% empty %}
  <p> Nothing found!</p>
{% endfor %} -->
