<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">product list</h1>
<ul>
  {% for product in products %}
    <li>
      <a href="{% url 'product-detail' product.pk %}" >{{ product.title }}</a> - Price: {{ product.price }} - Category: {{ product.category }} 
      
    </li>
    <a href="{% url 'add-to-favorites' product.pk %}"><button style="margin-bottom: 5px; margin-top: 5px;" .h>add to favorite</button></a>
    
  
  <form method="post" action="{% url 'create_order' product.pk %}">
    {% csrf_token %}
    <button type="submit">add to order</button>
  </form>
  <hr>
{% endfor %}
</ul>
  <button><a href="{% url 'home' %}">Back to Home</a></button>

</body>
</html>

