<h1>My Orders</h1>

{% if orders %}
  {% for order in orders %}
    <div style="border:1px solid #ccc; margin:20px; padding:10px;">
      <h3> Order Id {{ order.id }} - Date: {{ order.time }}</h3>
      <p>Status: <strong>{{ order.status }}</strong></p>
      <ul>
        {% for item in order.items.all %}
          <li style="margin-bottom:15px;">
            {{ item.product.title }} - {{ item.quantity }} - {{ item.product.price }} R
            {% with item.product.image_product.first as image %}
              {% if image %}
                <br><img src="{{ image.image.url }}" alt="{{ item.product.title }}" width="150">
              {% else %}
                <br><em>Without Image</em>
              {% endif %}
            {% endwith %}
          </li>
        {% endfor %}
      </ul>

      {% if order.status == "pending" %}
        <form method="post" action="">
          {% csrf_token %}
          <button type="submit">لغو</button>
        </form>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
  <p>You did not register any order!</p>
{% endif %}
