<h1>My Orders</h1>

{% if orders %}
  {% for order in orders %}
    <div style="border:1px solid #ccc; margin:20px; padding:10px;">
      <h3> Order Id {{ order.id }} - Date: {{ order.time }}</h3>
      <ul>
        {% for item in order.items.all %}
          <li style="margin-bottom:15px;">
             {% for item in order.items.all %}
          <li>{{ item.product.title }} - {{ item.quantity }} - {{ item.product.price }} R</li>
        {% endfor %}

            {% with item.product.image_product.first as image %}
              {% if image %}
                <img src="{{ image.image.url }}" alt="{{ item.product.title }}" width="150">
              {% else %}
                <em> Without Image</em>
              {% endif %}
            {% endwith %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% else %}
  <p>you did not register any order!</p>
{% endif %}
